<div class="card audio-units" fxLayout="column" fxLayoutAlign="start stretch">

  <!-- Header: "Extra Effects" title (the Audio Units service has no
       chain-wide bypass, so no master toggle here) -->
  <div class="header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" [style.height.px]="headerHeight">
    <eqm-label class="title" [fontSize]="11">{{ titleLabelKey | translate }}</eqm-label>
  </div>

  <div *ngIf="synced && supported" class="chain-list" fxFlex>
    <div
      class="unit-row"
      *ngFor="let unit of chain; let i = index; trackBy: trackUnit"
      [class.loading]="unit.status !== 'ready'"
      fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px"
      [style.height.px]="rowHeight"
    >
      <eqm-toggle
        [state]="unit.enabled"
        [interactive]="unit.status === 'ready'"
        (stateChange)="setUnitEnabled(unit, $event)"
        [eqmTooltip]="'audioUnits.enableDisable' | translate"
        eqmTooltipPositionSide="bottom"
      ></eqm-toggle>

      <eqm-label fxFlex class="unit-name" [fontSize]="11">
        {{ unitLabel(unit) }}
      </eqm-label>

      <eqm-icon
        class="row-button"
        [class.disabled]="i === 0"
        name="triangle" [rotate]="-90" [size]="10"
        (click)="moveUnit(unit, -1)"
        [eqmTooltip]="'common.moveUp' | translate"
        eqmTooltipPositionSide="bottom"
      ></eqm-icon>

      <eqm-icon
        class="row-button"
        [class.disabled]="i === chain.length - 1"
        name="triangle" [rotate]="90" [size]="10"
        (click)="moveUnit(unit, 1)"
        [eqmTooltip]="'common.moveDown' | translate"
        eqmTooltipPositionSide="bottom"
      ></eqm-icon>

      <eqm-icon
        class="row-button"
        [class.disabled]="unit.status !== 'ready'"
        name="pencil" [size]="13"
        (click)="openEditor(unit)"
        [eqmTooltip]="'audioUnits.openEditor' | translate"
        eqmTooltipPositionSide="bottom"
      ></eqm-icon>

      <eqm-icon
        class="row-button"
        name="minus" [size]="12"
        (click)="removeUnit(unit)"
        [eqmTooltip]="'common.remove' | translate"
        eqmTooltipPositionSide="bottom"
      ></eqm-icon>
    </div>

    <div *ngIf="chain.length === 0" class="placeholder" fxLayout="row" fxLayoutAlign="center center">
      <eqm-label [fontSize]="11">{{ 'audioUnits.emptyChain' | translate }}</eqm-label>
    </div>
  </div>

  <div *ngIf="synced && supported" class="add-row" fxLayout="row" fxLayoutAlign="start center" [style.height.px]="addRowHeight">
    <eqm-virtual-dropdown
      fxFlex
      [items]="availableItems"
      labelParam="label"
      [placeholder]="addEffectLabelKey | translate"
      [noItemsPlaceholder]="'audioUnits.noneFound' | translate"
      [searchPlaceholder]="'audioUnits.search' | translate"
      [numberOfVisibleItems]="6"
      (refChanged)="dropdown = $event"
      (itemSelected)="addUnit($event)"
    ></eqm-virtual-dropdown>
  </div>

  <div *ngIf="synced && !supported" class="placeholder unsupported" fxFlex fxLayout="row" fxLayoutAlign="center center">
    <eqm-label [fontSize]="11">{{ 'audioUnits.requiresNewerVersion' | translate }}</eqm-label>
  </div>

</div>
