<div fxLayout="row" class="toolbar w-100" [style.min-height.px]="toolbarHeight" fxLayoutAlign="space-between center">
  <div fxFlex="20" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center"></div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
    <eqm-label>Effects</eqm-label>
  </div>

  <div fxFlex="10" fxLayoutGap="5px" fxLayout="row" fxLayoutAlign="end center">
    <eqm-icon (click)="toggleVisibility()" [name]="show ? 'hide' : 'show'"></eqm-icon>
  </div>
</div>

<eqm-loading *ngIf="show && !loaded"></eqm-loading>

<div *ngIf="show && loaded && !available"
  class="content placeholder"
  [style.height.px]="contentHeight"
  fxLayout="row" fxLayoutAlign="center center"
>
  <eqm-label [fontSize]="11">Effects require a newer version of eqMac</eqm-label>
</div>

<div *ngIf="show && loaded && available"
  class="content"
  [style.height.px]="contentHeight"
  fxLayout="column" fxLayoutAlign="space-around stretch"
>

  <!-- Crossfeed -->
  <div class="effect-row" [style.height.px]="knobRowHeight"
    fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px"
  >
    <div class="row-header" fxFlex="82px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
      <eqm-checkbox
        [enabled]="app.enabled"
        [checked]="crossfeedEnabled" (checkedChange)="setCrossfeedEnabled($event)"
        [eqmTooltip]="crossfeedEnabled ? 'Disable Crossfeed' : 'Enable Crossfeed'"
      ></eqm-checkbox>
      <eqm-label [fontSize]="11">Crossfeed</eqm-label>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="52px">
      <eqm-label [fontSize]="10">Cutoff</eqm-label>
      <eqm-value-screen [enabled]="crossfeedControlsEnabled">{{ crossfeedCutoff | fixFloat:0:false }} Hz</eqm-value-screen>
    </div>

    <!-- Knob controls -->
    <eqm-knob *ngIf="!replaceKnobsWithSliders"
      [enabled]="crossfeedControlsEnabled" size="small"
      [min]="cutoffMin" [max]="cutoffMax"
      [(value)]="crossfeedCutoff" (userChangedValue)="setCrossfeedCutoff($event.value)"
      [stickToMiddle]="false" [doubleClickToAnimateToMiddle]="false"
      [controlStyle]="ui.settings.knobControlStyle"
    ></eqm-knob>
    <!-- Slider controls -->
    <div *ngIf="replaceKnobsWithSliders" fxFlex>
      <eqm-flat-slider
        [enabled]="crossfeedControlsEnabled"
        [min]="cutoffMin" [max]="cutoffMax" scale="logarithmic"
        [(value)]="crossfeedCutoff" (userChangedValue)="setCrossfeedCutoff($event.value)"
        [stickToMiddle]="false" [showMiddleNotch]="false" [doubleClickToAnimateToMiddle]="false"
        [thickness]="3" [thumbRadius]="4"
      ></eqm-flat-slider>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="52px">
      <eqm-label [fontSize]="10">Level</eqm-label>
      <eqm-value-screen [enabled]="crossfeedControlsEnabled">{{ crossfeedLevel | fixFloat:1:false }} dB</eqm-value-screen>
    </div>

    <eqm-knob *ngIf="!replaceKnobsWithSliders"
      [enabled]="crossfeedControlsEnabled" size="small"
      [min]="levelMin" [max]="levelMax"
      [(value)]="crossfeedLevel" (userChangedValue)="setCrossfeedLevel($event.value)"
      [stickToMiddle]="false" [doubleClickToAnimateToMiddle]="false"
      [controlStyle]="ui.settings.knobControlStyle"
    ></eqm-knob>
    <div *ngIf="replaceKnobsWithSliders" fxFlex>
      <eqm-flat-slider
        [enabled]="crossfeedControlsEnabled"
        [min]="levelMin" [max]="levelMax"
        [(value)]="crossfeedLevel" (userChangedValue)="setCrossfeedLevel($event.value)"
        [stickToMiddle]="false" [showMiddleNotch]="false" [doubleClickToAnimateToMiddle]="false"
        [thickness]="3" [thumbRadius]="4"
      ></eqm-flat-slider>
    </div>
  </div>

  <!-- Channel Delay -->
  <div class="effect-row" [style.height.px]="compactRowHeight"
    fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px"
  >
    <div class="row-header" fxFlex="82px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
      <eqm-checkbox
        [enabled]="app.enabled"
        [checked]="delayEnabled" (checkedChange)="setDelayEnabled($event)"
        [eqmTooltip]="delayEnabled ? 'Disable Channel Delay' : 'Enable Channel Delay'"
      ></eqm-checkbox>
      <eqm-label [fontSize]="11">Delay</eqm-label>
    </div>

    <eqm-label [fontSize]="10">L</eqm-label>
    <eqm-value-screen fxFlex="48px" [enabled]="delayControlsEnabled">{{ delayLeftMs | fixFloat:1:false }} ms</eqm-value-screen>
    <div fxFlex>
      <eqm-flat-slider
        [enabled]="delayControlsEnabled"
        [min]="delayMin" [max]="delayMax"
        [(value)]="delayLeftMs" (userChangedValue)="setDelayLeft($event.value)"
        [stickToMiddle]="false" [showMiddleNotch]="false" [doubleClickToAnimateToMiddle]="false"
        [thickness]="3" [thumbRadius]="4"
      ></eqm-flat-slider>
    </div>

    <eqm-label [fontSize]="10">R</eqm-label>
    <eqm-value-screen fxFlex="48px" [enabled]="delayControlsEnabled">{{ delayRightMs | fixFloat:1:false }} ms</eqm-value-screen>
    <div fxFlex>
      <eqm-flat-slider
        [enabled]="delayControlsEnabled"
        [min]="delayMin" [max]="delayMax"
        [(value)]="delayRightMs" (userChangedValue)="setDelayRight($event.value)"
        [stickToMiddle]="false" [showMiddleNotch]="false" [doubleClickToAnimateToMiddle]="false"
        [thickness]="3" [thumbRadius]="4"
      ></eqm-flat-slider>
    </div>
  </div>

  <!-- Routing -->
  <div class="effect-row" [style.height.px]="compactRowHeight"
    fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px"
  >
    <div class="row-header" fxFlex="82px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
      <eqm-checkbox
        [enabled]="app.enabled"
        [checked]="routingEnabled" (checkedChange)="setRoutingEnabled($event)"
        [eqmTooltip]="routingEnabled ? 'Disable Routing' : 'Enable Routing'"
      ></eqm-checkbox>
      <eqm-label [fontSize]="11">Routing</eqm-label>
    </div>

    <eqm-dropdown fxFlex
      [enabled]="routingControlsEnabled"
      [items]="routingModes" labelParam="name"
      [selectedItem]="selectedRoutingMode" (itemSelected)="setRoutingMode($event)"
      [searchable]="false" [numberOfVisibleItems]="5"
      placeholder="Select Mode" noItemsPlaceholder="No Modes"
    ></eqm-dropdown>
  </div>

  <!-- Preamp -->
  <div class="effect-row" [style.height.px]="compactRowHeight"
    fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px"
  >
    <div class="row-header" fxFlex="82px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
      <eqm-checkbox
        [enabled]="app.enabled"
        [checked]="preampEnabled" (checkedChange)="setPreampEnabled($event)"
        [eqmTooltip]="preampEnabled ? 'Disable Preamp' : 'Enable Preamp'"
      ></eqm-checkbox>
      <eqm-label [fontSize]="11">Preamp</eqm-label>
    </div>

    <eqm-value-screen fxFlex="52px" [enabled]="preampControlsEnabled">{{ preampGain > 0 ? '+' : '' }}{{ preampGain | fixFloat:1:false }} dB</eqm-value-screen>
    <div fxFlex>
      <eqm-flat-slider
        [enabled]="preampControlsEnabled"
        [min]="gainMin" [max]="gainMax" [middle]="0"
        [(value)]="preampGain" (userChangedValue)="setPreampGain($event.value)"
        [stickToMiddle]="true" [showMiddleNotch]="true"
        (stickedToMiddle)="performHapticFeedback($event)"
        [thickness]="3" [thumbRadius]="4"
      ></eqm-flat-slider>
    </div>

    <eqm-checkbox
      [enabled]="preampControlsEnabled"
      [checked]="autoGain" (checkedChange)="setAutoGain($event)"
      eqmTooltip="Automatically compensate for Equalizer gain"
    ></eqm-checkbox>
    <eqm-label [fontSize]="10">Auto Gain</eqm-label>
  </div>

</div>
