<div fxLayout="column" fxLayoutGap="6px">
  <eqm-label class="title">{{ 'hotkeys.title' | translate }}</eqm-label>

  <ng-container *ngIf="loaded">
    <eqm-label *ngIf="!available">
      {{ 'hotkeys.requiresNewerVersion' | translate: { version: minNativeVersion } }}
    </eqm-label>

    <ng-container *ngIf="available">
      <div
        class="hotkey-row"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        *ngFor="let row of rows"
      >
        <eqm-checkbox
          [checked]="!!bindings[row.action]?.enabled"
          [enabled]="!!bindings[row.action]"
          (checkedChange)="setEnabled(row, $event)"
        ></eqm-checkbox>

        <eqm-label fxFlex>{{ row.label }}</eqm-label>

        <eqm-label
          class="combo"
          [class.not-set]="!displayFor(row.action)"
        >{{ displayFor(row.action) || ('hotkeys.notSet' | translate) }}</eqm-label>

        <eqm-button
          type="narrow"
          [width]="90"
          [state]="recording === row.action"
          [enabled]="!recording || recording === row.action"
          (pressed)="record(row)"
        >
          <eqm-label [clickable]="true">{{ recordButtonLabel(row) }}</eqm-label>
        </eqm-button>

        <eqm-icon
          *ngIf="bindings[row.action]; else clearPlaceholder"
          class="clear-button"
          name="cross"
          [size]="14"
          (click)="clear(row)"
        ></eqm-icon>
        <ng-template #clearPlaceholder>
          <div class="clear-placeholder"></div>
        </ng-template>
      </div>

      <eqm-label class="hint" [fontSize]="11">
        {{ 'hotkeys.hint' | translate }}
      </eqm-label>
    </ng-container>
  </ng-container>

  <div fxLayout="row">
    <eqm-button type="narrow" fxFlex (pressed)="close()">
      <eqm-label [clickable]="true">{{ 'common.done' | translate }}</eqm-label>
    </eqm-button>
  </div>
</div>
