:host {
  display: block;
  width: 100%;
}

.recorder {
  margin: 5px 10px !important;
  height: 100%;
  min-width: 0;
  box-sizing: border-box;

  .record-button {
    background-color: var(--eqm-warning, #eb3f42);
    transition-property: all;
    transition-duration: 0.2s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    margin: 0 auto;
  }

  .start-recording {
    width: 60%;
    height: 60%;
    border-radius: 25px;
  }

  .stop-recording {
    width: 50%;
    height: 50%;
    border-radius: 2px;
  }

  .clickable {
    cursor: pointer;
  }

  .destination {
    .destination-path {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      min-width: 0;
    }
  }
}
