<div class="arrangement-dialog" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <eqm-label class="title">{{ title }}</eqm-label>
    <eqm-icon class="clickable" name="cross" [size]="12" (click)="close()" [eqmTooltip]="'common.close' | translate"></eqm-icon>
  </div>

  <eqm-label class="hint" [fontSize]="11">
    {{ 'arrangement.reorderHint' | translate }}
  </eqm-label>

  <eqm-label *ngIf="!synced" [fontSize]="12">{{ 'common.loading' | translate }}</eqm-label>

  <div *ngIf="synced" fxLayout="column" fxLayoutGap="6px">
    <ng-container *ngFor="let row of rows; let i = index; trackBy: trackRow">
      <div class="section-row" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <eqm-checkbox
          [checked]="row.enabled"
          (checkedChange)="setSectionEnabled(row, $event)"
          [eqmTooltip]="'arrangement.showHide' | translate"
          eqmTooltipPositionSide="bottom"
        ></eqm-checkbox>

        <eqm-label fxFlex [fontSize]="12">{{ row.labelKey | translate }}</eqm-label>

        <eqm-icon
          class="row-button"
          [class.disabled]="i === 0"
          name="triangle" [rotate]="-90" [size]="10"
          (click)="move(row, -1)"
          [eqmTooltip]="'common.moveUp' | translate"
          eqmTooltipPositionSide="bottom"
        ></eqm-icon>

        <eqm-icon
          class="row-button"
          [class.disabled]="i === rows.length - 1"
          name="triangle" [rotate]="90" [size]="10"
          (click)="move(row, 1)"
          [eqmTooltip]="'common.moveDown' | translate"
          eqmTooltipPositionSide="bottom"
        ></eqm-icon>
      </div>

      <!-- Balance lives inside the Volume section, so it only gets a
           visibility toggle, not its own arrangement row -->
      <div *ngIf="row.id === 'volume'"
        class="sub-row clickable"
        fxLayout="row" fxLayoutAlign="start center"
        (click)="toggleBalance()"
      >
        <eqm-checkbox labelSide="right" [interactive]="false" [checked]="balanceEnabled">
          {{ 'settings.balance' | translate }}
        </eqm-checkbox>
      </div>
    </ng-container>
  </div>

  <eqm-label class="hint" [fontSize]="10">
    {{ 'arrangement.hiddenHint' | translate }}
  </eqm-label>
</div>
