<div class="theme-picker-dialog" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <eqm-label class="title">{{ title }}</eqm-label>
    <eqm-icon class="clickable" name="cross" [size]="12" (click)="close()" [eqmTooltip]="'common.close' | translate"></eqm-icon>
  </div>

  <div class="theme-grid">
    <div class="theme-card"
      *ngFor="let card of cards; trackBy: trackCard"
      [class.current]="isCurrent(card)"
      [style.background]="card.background"
      (click)="select(card)"
    >
      <div class="swatches">
        <div class="swatch" *ngFor="let color of card.swatches" [style.background]="color"></div>
      </div>
      <eqm-label class="theme-name" [fontSize]="11" [color]="card.textColor" [clickable]="true">
        {{ card.theme.nameKey ? (card.theme.nameKey | translate) : card.theme.name }}
      </eqm-label>
    </div>
  </div>

  <eqm-divider orientation="horizontal"></eqm-divider>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <eqm-label [fontSize]="12">{{ 'themes.customAccent' | translate }}</eqm-label>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
      <div class="accent-swatch" [class.active]="hasCustomAccent" [style.background]="accentPreview"></div>
      <eqm-icon *ngIf="hasCustomAccent"
        class="clickable" name="cross" [size]="10"
        (click)="clearCustomAccent()"
        [eqmTooltip]="'themes.removeCustomAccent' | translate"
      ></eqm-icon>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="4px">
    <eqm-flat-slider
      [min]="0" [max]="360" [value]="hue"
      [color]="accentPreview"
      [stickToMiddle]="false" [showMiddleNotch]="false"
      [doubleClickToAnimateToMiddle]="false"
      (userChangedValue)="onHueChanged($event)"
    ></eqm-flat-slider>
    <div class="hue-strip"></div>
  </div>

  <eqm-label class="hint" [fontSize]="10">
    {{ 'themes.pickerHint' | translate }}
  </eqm-label>
</div>
