<div class="super-presets-dialog" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <eqm-label class="title">{{ title }}</eqm-label>
    <eqm-icon class="clickable" name="cross" [size]="12" (click)="close()" eqmTooltip="Close"></eqm-icon>
  </div>

  <eqm-label *ngIf="!synced" [fontSize]="12">Loading...</eqm-label>

  <ng-container *ngIf="synced">
    <eqm-label *ngIf="!available" [fontSize]="12">
      Super Presets require a newer version of the eqMac app. Please update eqMac to use this feature.
    </eqm-label>

    <ng-container *ngIf="available">
      <div class="pointer" fxLayout="row" fxLayoutAlign="start center" (click)="toggleEnabled()">
        <eqm-checkbox labelSide="right" [interactive]="false" [checked]="enabled">
          Automatically switch Presets
        </eqm-checkbox>
      </div>

      <eqm-label class="hint" [fontSize]="11">
        Switch to a Preset when an Output Device is selected or an App comes to the front.
        App rules take priority over Device rules.
      </eqm-label>

      <eqm-divider orientation="horizontal"></eqm-divider>

      <eqm-label *ngIf="rows.length === 0" class="hint" [fontSize]="12">
        No rules yet. Add a rule to get started.
      </eqm-label>

      <div *ngIf="rows.length > 0" class="rules" fxLayout="column" fxLayoutGap="8px">
        <div class="rule" *ngFor="let row of rows; trackBy: trackRow" fxLayout="column" fxLayoutGap="6px">
          <div fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="start center">
            <eqm-dropdown fxFlex="32"
              [items]="kindItems"
              labelParam="name"
              [selectedItem]="row.kindItem"
              [searchable]="false"
              [numberOfVisibleItems]="2"
              (itemSelected)="selectKind(row, $event)"
            ></eqm-dropdown>
            <eqm-dropdown fxFlex
              [items]="row.targetItems"
              labelParam="name"
              [selectedItem]="row.targetItem"
              [placeholder]="row.rule.trigger.kind === 'device' ? 'Select Device' : 'Select App'"
              [noItemsPlaceholder]="row.rule.trigger.kind === 'device' ? 'No Devices' : 'No Apps'"
              (itemSelected)="selectTarget(row, $event)"
            ></eqm-dropdown>
            <eqm-icon class="clickable delete-button" name="cross" [size]="12"
              eqmTooltip="Delete Rule" (click)="deleteRule(row)"
            ></eqm-icon>
          </div>
          <div fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="start center">
            <eqm-dropdown fxFlex="32"
              [items]="typeItems"
              labelParam="name"
              [selectedItem]="row.typeItem"
              [searchable]="false"
              [numberOfVisibleItems]="4"
              placeholder="EQ Type"
              (itemSelected)="selectType(row, $event)"
            ></eqm-dropdown>
            <eqm-dropdown fxFlex
              [items]="row.presetItems"
              labelParam="name"
              [selectedItem]="row.presetItem"
              placeholder="Select Preset"
              noItemsPlaceholder="No Presets"
              (itemSelected)="selectPreset(row, $event)"
            ></eqm-dropdown>
            <div class="pointer" fxLayout="row" fxLayoutAlign="start center" (click)="toggleRevert(row)"
              eqmTooltip="Restore the previous Preset when this trigger stops matching">
              <eqm-checkbox labelSide="right" [interactive]="false" [checked]="row.rule.revert">
                Revert
              </eqm-checkbox>
            </div>
          </div>
        </div>
      </div>

      <eqm-button type="narrow" (pressed)="addRule()">
        <eqm-label [clickable]="true">Add Rule</eqm-label>
      </eqm-button>
    </ng-container>
  </ng-container>
</div>
