<div class="super-presets-dialog" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <eqm-label class="title">{{ title }}</eqm-label>
    <eqm-icon class="clickable" name="cross" [size]="12" (click)="close()" [eqmTooltip]="'common.close' | translate"></eqm-icon>
  </div>

  <eqm-label *ngIf="!synced" [fontSize]="12">{{ 'common.loading' | translate }}</eqm-label>

  <ng-container *ngIf="synced">
    <eqm-label *ngIf="!available" [fontSize]="12">
      {{ 'superPresets.requiresNewerVersion' | translate }}
    </eqm-label>

    <ng-container *ngIf="available">
      <div class="pointer" fxLayout="row" fxLayoutAlign="start center" (click)="toggleEnabled()">
        <eqm-checkbox labelSide="right" [interactive]="false" [checked]="enabled">
          {{ 'superPresets.autoSwitch' | translate }}
        </eqm-checkbox>
      </div>

      <eqm-label class="hint" [fontSize]="11">
        {{ 'superPresets.hint' | translate }}
      </eqm-label>

      <eqm-divider orientation="horizontal"></eqm-divider>

      <eqm-label *ngIf="rows.length === 0" class="hint" [fontSize]="12">
        {{ 'superPresets.noRules' | translate }}
      </eqm-label>

      <div *ngIf="rows.length > 0" class="rules" fxLayout="column" fxLayoutGap="8px">
        <div class="rule" *ngFor="let row of rows; trackBy: trackRow" fxLayout="column" fxLayoutGap="6px">
          <div fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="start center">
            <eqm-dropdown fxFlex="32"
              [items]="kindItems"
              labelParam="name"
              [selectedItem]="row.kindItem"
              [searchable]="false"
              [numberOfVisibleItems]="2"
              (itemSelected)="selectKind(row, $event)"
            ></eqm-dropdown>
            <eqm-dropdown fxFlex
              [items]="row.targetItems"
              labelParam="name"
              [selectedItem]="row.targetItem"
              [placeholder]="(row.rule.trigger.kind === 'device' ? 'superPresets.selectDevice' : 'superPresets.selectApp') | translate"
              [noItemsPlaceholder]="(row.rule.trigger.kind === 'device' ? 'superPresets.noDevices' : 'superPresets.noApps') | translate"
              (itemSelected)="selectTarget(row, $event)"
            ></eqm-dropdown>
            <eqm-icon class="clickable delete-button" name="cross" [size]="12"
              [eqmTooltip]="'superPresets.deleteRule' | translate" (click)="deleteRule(row)"
            ></eqm-icon>
          </div>
          <div fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="start center">
            <eqm-dropdown fxFlex="32"
              [items]="typeItems"
              labelParam="name"
              [selectedItem]="row.typeItem"
              [searchable]="false"
              [numberOfVisibleItems]="4"
              [placeholder]="'superPresets.eqType' | translate"
              (itemSelected)="selectType(row, $event)"
            ></eqm-dropdown>
            <eqm-dropdown fxFlex
              [items]="row.presetItems"
              labelParam="name"
              [selectedItem]="row.presetItem"
              [placeholder]="'presets.selectPreset' | translate"
              [noItemsPlaceholder]="'presets.noPresets' | translate"
              (itemSelected)="selectPreset(row, $event)"
            ></eqm-dropdown>
            <div class="pointer" fxLayout="row" fxLayoutAlign="start center" (click)="toggleRevert(row)"
              [eqmTooltip]="'superPresets.revertTooltip' | translate">
              <eqm-checkbox labelSide="right" [interactive]="false" [checked]="row.rule.revert">
                {{ 'superPresets.revert' | translate }}
              </eqm-checkbox>
            </div>
          </div>
        </div>
      </div>

      <eqm-button type="narrow" (pressed)="addRule()">
        <eqm-label [clickable]="true">{{ 'superPresets.addRule' | translate }}</eqm-label>
      </eqm-button>
    </ng-container>
  </ng-container>
</div>
