<div class="app-mixer" fxLayout="column" fxLayoutAlign="start stretch">
  <div *ngIf="available && apps.length > 0" class="strip-list" fxLayout="row" fxLayoutAlign="start start">
    <eqm-app-row
      *ngFor="let mixerApp of apps; trackBy: trackApp"
      class="strip"
      [app]="mixerApp"
      [enabled]="app.enabled"
      [style.width.px]="stripWidth"
      [style.height.px]="stripHeight"
    ></eqm-app-row>
  </div>

  <div *ngIf="synced && available && apps.length === 0" class="placeholder" fxLayout="row" fxLayoutAlign="center center">
    <eqm-label [fontSize]="11">{{ 'appMixer.noApps' | translate }}</eqm-label>
  </div>

  <div *ngIf="synced && !available" class="placeholder" fxLayout="row" fxLayoutAlign="center center">
    <eqm-label [fontSize]="11">{{ 'appMixer.requiresNewerVersion' | translate }}</eqm-label>
  </div>
</div>
