<div class="card" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="6px">

  <!-- Header: enable toggle + "Spatial Audio" title -->
  <div class="header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <eqm-checkbox
      [enabled]="available && app.enabled"
      [checked]="enabled"
      (checkedChange)="setEnabled($event)"
      [eqmTooltip]="available ? ((enabled ? 'spatial.disable' : 'spatial.enable') | translate) : ('spatial.unavailable' | translate: { version: minNativeVersion })"
      eqmTooltipPositionSide="bottom"
    ></eqm-checkbox>
    <eqm-label class="title" [fontSize]="11">{{ 'sections.spatial' | translate }}</eqm-label>
  </div>

  <!-- Content: Environment dropdown left, Dry/Wet Mix cluster right -->
  <div class="content" fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px">

    <div class="environment" fxFlex fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="4px">
      <eqm-label [fontSize]="10">{{ 'spatial.environment' | translate }}</eqm-label>
      <eqm-dropdown
        [items]="environments"
        labelParam="name"
        [searchable]="false"
        [enabled]="available && enabled && app.enabled"
        [placeholder]="'spatial.selectEnvironment' | translate"
        [noItemsPlaceholder]="'spatial.noEnvironments' | translate"
        [selectedItem]="selectedEnvironmentItem"
        (itemSelected)="selectEnvironment($event)"
      ></eqm-dropdown>
    </div>

    <!-- Knob control -->
    <div *ngIf="!replaceKnobsWithSliders" class="mix-cluster" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="64px">
        <eqm-label [fontSize]="10">{{ dryWetMixLabelKey | translate }}</eqm-label>
        <eqm-value-screen [enabled]="available && enabled && app.enabled">{{ wetDryMix | fixFloat:0:false }}%</eqm-value-screen>
      </div>
      <eqm-knob
        [enabled]="available && enabled && app.enabled"
        size="small"
        [min]="0" [max]="100"
        [(value)]="wetDryMix"
        (userChangedValue)="setWetDryMix($event)"
        [doubleClickToAnimateToMiddle]="false"
        [stickToMiddle]="false"
        [controlStyle]="ui.settings.knobControlStyle"
      ></eqm-knob>
    </div>

    <!-- Slider control -->
    <div *ngIf="replaceKnobsWithSliders" class="mix-cluster" fxFlex="45" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="64px">
        <eqm-label [fontSize]="10">{{ dryWetMixLabelKey | translate }}</eqm-label>
        <eqm-value-screen [enabled]="available && enabled && app.enabled">{{ wetDryMix | fixFloat:0:false }}%</eqm-value-screen>
      </div>
      <div fxFlex>
        <eqm-flat-slider
          [enabled]="available && enabled && app.enabled"
          [min]="0" [max]="100"
          [(value)]="wetDryMix"
          (userChangedValue)="setWetDryMix($event)"
          [doubleClickToAnimateToMiddle]="false"
          [stickToMiddle]="false"
          [thickness]="4" [thumbRadius]="5"
        ></eqm-flat-slider>
      </div>
    </div>

  </div>

</div>
