<div #container fxLayout="column" class="container" [ngStyle]="containerStyle">
  <eqm-loading class="loader" *ngIf="!loaded"></eqm-loading>
  <eqm-header class="header" id="header" #header
    (settingsToggled)="toggleDropdownSection('settings')"
    (helpToggled)="toggleDropdownSection('help')"
  ></eqm-header>
  <eqm-divider></eqm-divider>

  <eqm-settings id="dropdown-section"
    class="dropdown-section"
    (clickedOutside)="closeDropdownSection('settings', $event)"
    [@FadeInOut]
    [@FromTop]
    *ngIf="showDropdownSections.settings"
  ></eqm-settings>
  <eqm-help id="dropdown-section"
    class="dropdown-section"
    (clickedOutside)="closeDropdownSection('help', $event)"
    [@FadeInOut]
    [@FromTop]
    *ngIf="showDropdownSections.help"
  ></eqm-help>

  <!-- Pro-look two-column layout: fixed-width left rail + flexible EQ column -->
  <div fxLayout="row" fxFlex class="columns">

    <div class="left-column" fxLayout="column">
      <ng-container *ngFor="let sectionId of leftSectionOrder">
        <ng-container [ngSwitch]="sectionId">
          <ng-container *ngSwitchCase="'volume'">
            <eqm-volume-booster-balance *ngIf="ui.settings.volumeFeatureEnabled || ui.settings.balanceFeatureEnabled" #volumeBoosterBalance></eqm-volume-booster-balance>
            <eqm-divider *ngIf="(ui.settings.volumeFeatureEnabled || ui.settings.balanceFeatureEnabled) && !isLastLeftSection(sectionId)"></eqm-divider>
          </ng-container>
          <ng-container *ngSwitchCase="'app-mixer'">
            <eqm-app-mixer *ngIf="ui.settings.appMixerFeatureEnabled" #appMixer></eqm-app-mixer>
            <eqm-divider *ngIf="ui.settings.appMixerFeatureEnabled && ui.settings.superPresetsBarFeatureEnabled"></eqm-divider>
            <!-- Pro reference places the Super Preset bar right under the App Mixer -->
            <eqm-super-preset-bar *ngIf="ui.settings.superPresetsBarFeatureEnabled" #superPresetBar></eqm-super-preset-bar>
            <eqm-divider *ngIf="(ui.settings.appMixerFeatureEnabled || ui.settings.superPresetsBarFeatureEnabled) && !isLastLeftSection(sectionId)"></eqm-divider>
          </ng-container>
          <ng-container *ngSwitchCase="'effects'">
            <eqm-audio-effects *ngIf="ui.settings.effectsFeatureEnabled" #audioEffects></eqm-audio-effects>
            <eqm-divider *ngIf="ui.settings.effectsFeatureEnabled && !isLastLeftSection(sectionId)"></eqm-divider>
          </ng-container>
          <ng-container *ngSwitchCase="'spatial'">
            <eqm-spatial *ngIf="ui.settings.spatialFeatureEnabled" #spatial></eqm-spatial>
            <eqm-divider *ngIf="ui.settings.spatialFeatureEnabled && !isLastLeftSection(sectionId)"></eqm-divider>
          </ng-container>
          <ng-container *ngSwitchCase="'audio-units'">
            <eqm-audio-units *ngIf="ui.settings.audioUnitsFeatureEnabled" #audioUnits></eqm-audio-units>
            <eqm-divider *ngIf="ui.settings.audioUnitsFeatureEnabled && !isLastLeftSection(sectionId)"></eqm-divider>
          </ng-container>
          <ng-container *ngSwitchCase="'recorder'">
            <eqm-recorder *ngIf="ui.settings.recorderFeatureEnabled" #recorder></eqm-recorder>
            <eqm-divider *ngIf="ui.settings.recorderFeatureEnabled && !isLastLeftSection(sectionId)"></eqm-divider>
          </ng-container>
          <ng-container *ngSwitchCase="'outputs'">
            <eqm-outputs *ngIf="ui.settings.outputFeatureEnabled" #outputs></eqm-outputs>
            <eqm-divider *ngIf="ui.settings.outputFeatureEnabled && !isLastLeftSection(sectionId)"></eqm-divider>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>

    <eqm-divider orientation="vertical" class="column-divider" *ngIf="ui.settings.equalizersFeatureEnabled"></eqm-divider>

    <div class="right-column" fxLayout="column" fxFlex *ngIf="ui.settings.equalizersFeatureEnabled">
      <eqm-equalizers fxFlex #equalizers></eqm-equalizers>
    </div>

  </div>

</div>
<eqm-tooltip-container class="tooltip-container" [scale]="ui.scale" [ngStyle]="containerStyle"></eqm-tooltip-container>
